$body-color: blue;

body {
  //color: $body-color;
  
}
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

h1 {
  padding-top: 1rem;
}
h2 {
  padding-bottom: 1rem;
}

.lead {
  width: 261px;
  height: 88px;
  border-left: 10px solid darkblue;
  border-radius: 5px;
  background-color: skyblue;
}
#datetime {
  padding-top: 28px;
  margin: auto;
}

.page-content {
  box-shadow: 10px 0 20px black, -10px 0 20px black;
  padding-left: 4rem;
} 

.calc-contain {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: auto;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  text-align: center;
}

.calculator-screen {
  width: 100%;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
}

button {
  height: 60px;
  font-size: 2rem!important;
}

.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.button-color {
  background-color: aquamarine;
}
.btn-light {
  background-color: #f8f9d2;
}

.game-button {
  height: 0%;
  border:none;
}

#player {
  display: inline-block;
}

#cpu{
  display: inline-block;
}
#chosen {
  min-height: 200px;
}
